<% provide(:isRoot, 'true') %>
<% unset_test_active %>

<div class="center jumbotron">
  <h1>Vitajte na stránke interaktívnych prednášok!</h1>
  <ul>
    <li><strong>Pre koho je táto stránka určená?</strong> Stránka je určená pre všetkých učiteľov, ktorý chcú svoje vyučovanie
    spraviť zaujímavejším a prínosnejším pre všetkých žiakov.</li>
    <li><strong>Čo stránka dokáže?</strong> Stránka dokáže za pomoci učiteľa vytvoriť tématické okruhy a k nim otázky a odpovede, ktoré má učiteľ v pláne vysvetliť
      žiakom na vyučovaní.</li>
    <li><strong>Iba toto vie???</strong> Samozrejme, že nie! Z nazbieraných dát vie potom učiteľ veľmi rýchlo poskladať testy z vybraných tém s náhodnými otázkami,
      ktoré vie sprístupniť žiakom ešte počas vyučovania. A najlepšie je, že odpovedanie na test pre žiaka vôbec nevyžaduje veľa času.</li>
    <li><strong>A to je načo dobré?</strong> Po ukončení testovania sa vie učiteľ okamžite pozrieť na výsledky vo vizuálnych sumarizáciách, vďaka
     ktorým bude vedieť čo žiaci vedia a k čomu by sa ma ešte rýchlo vrátiť!</li>
    <li><strong>Komu tým pomôžeme?</strong> Na prvom mieste žiakom, pretože ak neodpovedali na otázky správne, učiteľ to uvidí v jeho sumarizácii a
    následne vie hodinu prispôsobiť tak, aby si žiaci odniesli niečo viac. Samozrejme nárast vedomostí u žiakov spríjemný deň aj učiteľovi nie?</li>
  </ul>
  <h2>Pre viac informácií využite možnosť správy.</h2>

<div class="buttons">
  <%= link_to "Chcem vedieť viac!", '', class: "btn btn-lg btn-primary" %>
    </div>
  <div class="buttons">
  <%= link_to "Prihlásiť sa.", login_path, class: "btn btn-sm btn-primary" %>
</div>
</div>

