<% provide(:title, 'Témy') %>
<div class="row">

  <div class="col-md-9 my_content">
    <h3>Témy</h3>
    <% @topic.each do |t| %>
        <h3><%= link_to t.topic_name, t %></h3> <%= link_to "Edituj tému", edit_topic_url(t) %>
    <% end %>
  </div>

</div>
