<% provide(:title, 'Topic menu') %>
<% current_topic(@topic.id) %>

<div class="row">

  <div class="col-md-9 my_content">
    <h3><strong><%= @topic.topic_name %></strong></h3>
    <p>Znenie témy: <%= @topic.information %></p>
    Počet otázok: <%= @count_of_question %>
    <% @question.each do |q| %>
        <p>- <%=link_to q.question_name, [@login_user, @topic, q] %></p>
    <% end %>
  </div>

</div>
