<% provide(:title, 'Analyzované testy') %>
<% make_all_current_null %>

<div class="row">

  <div class="col-md-9 my_content well">

    <% @one_test_data.each do |key, item| %>
        <% test = item.test %>
        <h3><%= item.old_test_name %></h3>

        <% time = DateTime.parse(key) %>
        <% hours = time.strftime("%k").to_i + 2 %>
        <p><%= time.strftime("%Y %B %d, #{hours}:%M:%S") %></p>

        <% answer = "V grafoch sa zobrazia počty správnych/nesprávnych odpovedí bez ohľadu na to, či celá otázka bola žiakom zodpovedaná správne."
        question = "V grafoch sa zobrazia počty správne/nesprávne zodpovedaných otázok (v prípade, že jedna z odpovedí žiaka bola zodpovedaná zle, otázka je vyriešená nesprávne)." %>

        <p class="marg_bot"><%= link_to "Analýza na základe odpovedí", user_test_concrete_test_path(@login_user, test, :starting_date => item.starting_date),  title: answer %>,
        <%= link_to "Analýza na základe otázok", user_test_concrete_test_questions_path(@login_user, test, :starting_date => item.starting_date), title: question %></p>

    <% end %>

  </div>

</div>

