<% provide(:title, 'Menu') %>
<% make_all_current_null %>

<div class="row">

  <div class="col-md-9 my_content well">
    <h3><strong>Vitajte!</strong></h3>
    <p class="left">Manuál použitia</p>
    <p class="left"><ol><li class="left">Menu naľavo je hlavný ovládací panel, v ktorom máte možnosť pracovať s dvomi základnými prvkami - témami a testami.</li>
        <li class="left">Nastavenie tém slúži na pridávanie a editáciu tém. Ak máte záujem vytvoriť testy z konkrétnych tém, najprv je dôležité vytvoriť tieto témy a vyplniť ich otázkami s odpoveďami.
                         Menu sa bude automaticky prispôsobovať tak, aby ste vedeli, čo práve upravujete.</li>
        <li class="left">Nastavenie testov slúži na vytváranie a modifikáciu testov. Pri tvorbe testu si budete vyberať, z akých tém bude test pozostávať
                         a koľko otázok bude z témy vybratých (otázky sa vyberajú nahodne zo všetkých otázok pre danú tému). Taktiež tu musíte nastaviť dĺžku trvania testovania
                         (čas počas ktorého je možné test otvoriť, vyplniť a odovzdať)</li>
        <li class="left">Ak je test pripravený aktivujete ho tlačidlom 'Aktivuj test' v časti 'Všetky testy'. Po zadaní zobrazeného linku
                         do prehliadača sa testovaným subjektom zobrazia otázky, na ktoré môžu odpovedať.</li>
        <li class="left">Výsledky testu si je možné prezerať v časti 'Odovzdané testy'</li>
    </ol></p>
    <p class="left"></p>
  </div>

</div>



