<% provide(:title, 'Testovanie') %>

<div class="row">
  <div class="col-md-9 my_content anchor_line">

    <h3><strong>Testovanie</strong></h3>

    <div class="col-md-6 col-md-offset-3">
        <%= form_tag :action => 'results', method: :post do %>

          <% @current_tests.each do |ct| %>
              <% @topic = find_topic(ct.topic_id) %>
              <% @questions = choose_random_questions(@topic.id, ct.questions_count) %>
              <% @questions.each do |q| %>
                  <% @answers = q.answers %>
                  <h4><%= q.question_name %></h4>
                  <%= render 'layouts/questions' %>
              <% end %>
          <% end %>

            <%= submit_tag 'Odoslať riešenie', class: "btn btn-primary"  %>
        <% end %>

    </div>
  </div>
</div>

