<% provide(:title, 'Analýza testu') %>

<div class="row">
  <div class="col-md-9 my_content anchor_line">

    <h3><strong>Analýza testu: <%= @test.test_name %></strong></h3>

    <!-- TODO  Dat do riti prec-->

    <div class="col-xs-6">
        <h3>Pomer dobrých a zlých odpovedí celkovo</h3>
        <%= pie_chart @all_answers.group(:answer_value).count(:answer_id) %>
    </div>

    <% @all_topics.each do |at| %>
        <div class="col-xs-6">
          <h3>Téma: <%= at.topic_name %></h3>

        </div>
    <% end %>


  </div>
</div>

